In [1]:
from pyspark.sql import SparkSession,HiveContext
from pyspark.sql.functions import to_json,col
from pyspark.sql.types import *
import pyspark

In [2]:
spark = SparkSession\
        .builder\
        .appName("pyspark-notebook")\
        .master("spark://spark-master:7077")\
        .config("spark.executor.memory", "512m")\
        .config("hive.metastore.uris", "thrift://hive-metastore:9083")\
        .config("spark.sql.warehouse.dir", "/user/hive/warehouse")\
        .enableHiveSupport()\
        .getOrCreate()

Warning: Ignoring non-Spark config property: hive.metastore.uris
21/11/22 18:13:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

In [4]:
spark.sql("show databases").show()
spark.sql("show tables").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

+--------+-----------+-----------+
|database|  tableName|isTemporary|
+--------+-----------+-----------+
| default|outro_teste|      false|
+--------+-----------+-----------+

In [5]:
spark.sql("select * from outro_teste").show()

+------+
| teste|
+------+
|teste1|
|teste4|
|teste1|
|teste2|
|teste3|
+------+

In [6]:
df = spark.createDataFrame(
    [
        (1, "Augusto"),  
        (2, "Enzo"),
    ],
    ["id", "label"]  
)

df.printSchema()

root
 |-- id: long (nullable = true)
 |-- label: string (nullable = true)

In [7]:
sparkDF = df
sparkDF.createOrReplaceTempView("temp_table")

In [10]:
from pyspark.sql import SQLContext
sqlContext = HiveContext(sc)
sqlContext.sql("create table default.sales as select * from temp_table")

TypeError: sql() missing 1 required positional argument: 'sqlQuery'